<html>
    <head>
        <title>
            Dainik Follows 
        </title>
        <body>
            <%if(option=='On'){%>
                Private:<a href="/setting/private/1">On</a>
                <%}else{%>
                    Private:<a href="/setting/private/1">Off</a>                
                <%}%>
        </body>
    </head>
</html>