<html>
    <head>
        <title>
            DainikGo 
        </title>
        <body>
            <fieldset>
                    <h1>
                        To Access Please varify your Email:<%=email%> link We Sent
                    </h1>
            </fieldset>
        </body>
    </head>
</html>